@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

p{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.App {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;

  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure it takes up at least the viewport height */
}

.Box {
  width: 100%;
  background-color: #e8e9eb;
  padding: 20px;
  max-width: 600px;
  margin: auto; /* Center the container */
  border-radius: 10px;
  box-shadow: 0 8px 12px #def6de;
  padding-left: 20px;
  padding-right: 40px;
  margin-left: 20px;
  margin-right: 20px;
}
h1 {
  color: #000000;
  text-align: center;
}
h4{
  text-align: center;
}
.Filter {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: large;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

p {
  background-color: #e7f3e7;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #4caf50;
}

p.invalid {
  color: red;
  background-color: #fdd;
  border-color: #f44336;
}

h2 {
  color: #333;
  margin-bottom: 10px;
}


.multi-select .select__control {
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: none;
  min-height: 38px;
}

.multi-select .select__control--is-focused {
  border-color: #2684ff;
  box-shadow: 0 0 0 1px #2684ff;
}

.multi-select .select__multi-value {
  background-color: #e6e6e6;
  border-radius: 4px;
  padding: 2px 2px;
    flex: 1;
  justify-content: center;
  align-items: center;
}

.multi-select .select__multi-value__label {
  font-size: 14px;
  color: #333;

}

.multi-select .select__multi-value__remove {
  cursor: pointer;
  color: #333;
}

.multi-select .select__multi-value__remove:hover {
  background-color: #ccc;
  color: #000;
}

.multi-select .select__placeholder {
  font-size: 14px;
  color: #999;
}

.multi-select .select__indicator {
  padding: 6px;
}

.multi-select .select__dropdown-indicator {
  color: #999;
}

.multi-select .select__indicator-separator {
  display: none;
}
